// SPDX-License-Identifier: GPL-2.0
/*
 * Hardkernel's Exynos4412 based ODROID-U3 board device tree source
 *
 * Copyright (c) 2014 Marek Szyprowski <m.szyprowski@samsung.com>
 *
 * Device tree source file for Hardkernel's ODROID-U3 board which is based
 * on Samsung's Exynos4412 SoC.
 */

/dts-v1/;
#include "exynos4412-odroid-common.dtsi"
#include "exynos4412-prime.dtsi"

/ {
	model = "Hardkernel ODROID-U3 board based on Exynos4412";
	compatible = "hardkernel,odroid-u3", "samsung,exynos4412", "samsung,exynos4";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x7FF00000>;
	};

	leds {
		compatible = "gpio-leds";
		led1 {
			label = "led1:heart";
			gpios = <&gpc1 0 GPIO_ACTIVE_LOW>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&pwm 0 10000 0>;
		#cooling-cells = <2>;
		cooling-levels = <0 102 170 230>;
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			cooling-maps {
				map0 {
				     trip = <&cpu_alert1>;
				     cooling-device = <&cpu0 10 10>, <&cpu1 10 10>,
						      <&cpu2 10 10>, <&cpu3 10 10>,
						      <&fan0 1 2>;
				};
				map1 {
				     trip = <&cpu_alert2>;
				     cooling-device = <&cpu0 16 16>,
						      <&cpu1 16 16>,
						      <&cpu2 16 16>,
						      <&cpu3 16 16>,
						      <&fan0 2 3>;
				};
				map2 {
				     trip = <&cpu_alert0>;
				     cooling-device = <&fan0 0 1>;
				};
			};
		};
	};
};

&adc {
	vdd-supply = <&ldo10_reg>;
	/* Nothing connected to ADC inputs, keep it disabled */
};

/* On the Odroid-U2/U3 this buck regulator supplies the LAN9730 block. */
&buck8_reg {
	regulator-name = "input_lan9730_3.3V";
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
};

&hdmicec {
	needs-hpd;
};

&exynos_usbphy {
	/* Port 0 is HSIC for LAN9730 */

	/* buck8 enable pin, use it for power sequence */
	reset-gpios = <&gpa1 1 GPIO_ACTIVE_LOW>;
	/*
	 * Reset duration of 500 us was chosen experimentally.
	 * Minimal working value was 400 us. Add some safe margin.
	 */
	reset-duration-us = <500>;

	status = "okay";
};

/* On the Odroid-U2/U3 this buck regulator supplies the core of the eMMC. */
&ldo22_reg {
	regulator-name = "vddf_emmc_2.85V";
	regulator-min-microvolt = <2850000>;
	regulator-max-microvolt = <2850000>;
};

&max77686 {
	pinctrl-0 = <&max77686_irq &max77686_enb8>;
};

&mshc_0 {
	vqmmc-supply = <&ldo22_reg>;
};

&pinctrl_0 {
	max77686_enb8: max77686-enb8 {
		samsung,pins = "gpa1-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_DOWN>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
	};
};

&pwm {
	pinctrl-0 = <&pwm0_out>;
	pinctrl-names = "default";
	samsung,pwm-outputs = <0>;
	status = "okay";
};

&usb3503 {
	clock-names = "refclk";
	clocks = <&pmu_system_controller 0>;
	refclk-frequency = <24000000>;
};

&ehci {
	phys = <&exynos_usbphy 2>, <&exynos_usbphy 3>;
	phy-names = "hsic0", "hsic1";
};

&sound {
	model = "Odroid-U3";
	samsung,audio-widgets =
		"Headphone", "Headphone Jack",
		"Speakers", "Speakers";
	samsung,audio-routing =
		"Headphone Jack", "HPL",
		"Headphone Jack", "HPR",
		"Headphone Jack", "MICBIAS",
		"IN1", "Headphone Jack",
		"Speakers", "SPKL",
		"Speakers", "SPKR";
};

&spi_1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_bus>;
	cs-gpios = <&gpb 5 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
